@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        @if (HttpContextAccessor.HttpContext.Session.GetInt32("ssCartCount") != null)
        {
            <li class="nav-item">
                @{
                    var count = HttpContextAccessor.HttpContext.Session.GetInt32("ssCartCount");
                }
                <a class="nav-link text-white" asp-area="" asp-controller="BookingCart" asp-action="Index"><i class="fas fa-shopping-cart fa-lg"></i>&nbsp;items <b>(@count)</b></a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="BookingCart" asp-action="Index"><i class="fas fa-shopping-cart fa-lg"></i>&nbsp;items <b>(0)</b></a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
