@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AIS Transport Agency</h1>
    <p>A land transport system connecting people, products and places for a thriving Aotearoa.
Our vision describes the land transport system that we want to see, and that we are committed to delivering through the things we lead, shape and influence.
At AIS Transport Agency customers can book their practical driving test slot for all category Licenses i.e., Car, Bike, Heavy Truck and special endorsements like Forklift/cranes. they can reschedule/cancel the booking. We take bookings of only 10 customers per day. Customers can pay booking fee directly at AIS Transport Agency cash counter. 
</p>




</div>
