@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
    <h6 class="display-3">ContactUs</h6>
    <p>Address: NewZealand</p>
    <p>Mob: +64 210 884 9839</p>
    <p>Email: Support@AISTransportAgency.com</p>
</p>




</div>
